html,
body{
	height: 100%;
}

*{
	box-sizing: border-box;
}
body{
	font-family: Aria, sans-serif;
	color: #000;
	font-size: 14px;
}

li{
	list-style: none;
}

.form {
	max-width: 550px;
	margin: 0 auto;
	padding: 30px 0;
}

.form__body {
	position: relative;
	padding: 20px;
}

.form__body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5) url("loading.gif") center/50px no-repeat ;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in 0s;
}

.form__body._sending::after{
	opacity: 1;
	visibility: visible;
}


.form__title {
	font-size: 40;
}
.form__item {
	margin-bottom: 20px;
}
.form__label {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}
.form__input {
	width: 100%;
	height: 40px;
	padding: 5px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	box-shadow: 1px 2px 10px 0 #cccccc;
}

.form__input[data-error]{
	border: 1px solid #c00;
}

.checkbox[data-error] .checkbox__label::before{
	border: 1px solid #c00;
}

.form__textarea {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}

.form__options {
	padding-left: 0;
}
.options {
}
.options__item {
	margin-bottom: 10px;
}
.options__input {
	display: none;
}

.options__label{
	position: relative;
	cursor: pointer;
}

.options__label::before{
	content: '';
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 1px 2px 10px 0 #cccccc;
}

.options__label::after{
	content: '';
	width: 10px;
	height: 10px;
	background-color: tomato;
	border-radius: 50%;
	position: absolute;
	left: 9px;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all .3s ease-in;
}

.options__input:checked ~ .options__label::after{
	transform: translate(-50%, -50%) scale(1);
}


.options__text{
	margin-left: 25px;
}

.form__file {
}
.file {
}
.file__item {
	position: relative;
}

.file__input{
	display: none;
}

.file__button {
	color: #fff;
	display: inline-flex;
	min-height: 40px;
	border: 0;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: #77608d;
	padding: 0 20px;
	cursor: pointer;
	box-shadow: 1px 2px 1px 0 #332144;
}


.file__preview {
	display: inline-block;
	max-width: 100px;
	padding-top: 10px;
}

.file__preview img{
	max-width: 100%;
}

.checkbox {

}

.form__checkbox {
	display: none;
}

.form__checkbox:checked ~ .checkbox__label::after{
	transform: translate(-50%, -50%) scale(1);
}

.checkbox__label{
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

.checkbox__label::before{
	content: '';
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 1px 2px 10px 0 #cccccc;
}

.checkbox__label::after{
	content: '';
	width: 10px;
	height: 10px;
	background-color: tomato;
	position: absolute;
	left: 9px;
	top: 9px;
	transform: translate(-50%, -50%) scale(0);
	transition: all .3s ease-in;
}

.checkbox__text{
	margin-left: 25px;
}

.form__button {
	color: #fff;
	min-height: 40px;
	width: 100%;
	border: 0;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	cursor: pointer;
	box-shadow: 1px 2px 1px 0 #c00;
}
